%ul.nav.nav-tabs
  %li(role="presentation" class='#{"active" if current_page? items_user_path(@user)}')
    = link_to '最近の投稿', items_user_path(@user)
  %li(role="presentation" class='#{"active" if current_page? stocks_user_path(@user)}')
    = link_to 'ストックした投稿', stocks_user_path(@user)
  %li(role="presentation" class='#{"active" if current_page? followers_user_path(@user)}')
    = link_to 'フォロワー', followers_user_path(@user)
  %li(role="presentation" class='#{"active" if current_page? following_user_path(@user)}')
    = link_to 'フォロー中のユーザー', following_user_path(@user)
  %li(role="presentation" class='#{"active" if current_page? tags_user_path(@user)}')
    = link_to 'フォロー中のタグ', tags_user_path(@user)
