%ul.nav.nav-tabs
  %li(role="presentation" class='#{"active" if user_items_path(current_user) == request.fullpath}')
    = link_to '最近の投稿', user_items_path(current_user)
  %li(role="presentation" class='#{"active" if user_stocks_path(current_user) == request.fullpath}')
    = link_to 'ストックした投稿', user_stocks_path(current_user)
  %li(role="presentation" class='#{"active" if followers_user_follow_user_path(current_user) == request.fullpath}')
    = link_to 'フォロワー', followers_user_follow_user_path(current_user)
  %li(role="presentation" class='#{"active" if following_user_follow_user_path(current_user) == request.fullpath}')
    = link_to 'フォロー中のユーザー', following_user_follow_user_path(current_user)
  %li(role="presentation" class='#{"active" if user_follow_tag_index_path(current_user) == request.fullpath}')
    = link_to 'フォロー中のタグ', user_follow_tag_index_path(current_user)
