.row
  .col-sm-3
    = @user.name
    %br
    = @user.email
    %br
    - if current_user == @user
      = link_to 'プロフィールを編集する', edit_user_path(@user)
    - else
      %span#follow-btn
        = user_follow_link_to @user
    %br
  .col-sm-9
    最近の投稿
    |
    ストックした投稿
    |
    コメント
    |
    フォロー中のタグ
    |
    フォロワー
    %span#follower-num
      = @user.followers.count
    |
    フォロー中のユーザー
    %span#following-num
      = @user.following.count
