= simple_form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :tags, input_html: { value: "#{@item.tags.pluck(:name).join(' ')}", placeholder: 'タグをスペース区切りで入力' }
  = f.input :content, input_html: {rows: '20'}
  = f.input :aasm_state, as: :select, required: true, selected: 'published', collection: [['下書き保存', 'draft'] ,['Qiitaに投稿', 'published']], include_blank: false, label: false

  = f.button :submit
