.item-list-cell
  .item-list-status
    = link_to item.user.name, item.user
    が #{item.published_at.to_s} に投稿
  .item-list-title
    = link_to item.title, item
  %ul.list-inline.item-list-tags
    = content_tag_for :li, item.tags, class: 'item-list-tags-list' do |tag|
      = link_to tag.name, tag, class: 'small'
  %hr
