.item-show-header
  .container
    .row
      .col-sm-9
        %h1.item-show-header-title= @item.title
        %ul.list-inline.item-show-header-tags
          = content_tag_for :li, @item.tags, class: 'item-show-header-tags-list' do |tag|
            = link_to tag.name, tag, class: 'small'
        .item-show-header-time
          = link_to @item.user.name, @item.user
          が
          %time
            = @item.created_at.to_s
          に投稿
      .col-sm-3
        %ul.list-group
          %li.list-group-item
            %span.badge#stock-num= @item.stocks.length
            ストック
          %li.list-group-item
            %span.badge= @item.comments.length
            コメント
        - if current_user == @item.user
          %ul.list-unstyled.item-show-header-action
            %li= link_to '編集する', edit_item_path(@item), class: 'btn btn-info btn-block'
            %li= link_to '削除する', item_path(@item), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-block'
        - else
          %span#stock-btn= item_stock_link_to(@item)
.container
  .row
    .col-sm-9
      = markdown_to_html @item.content

      %hr

      - @item.comments.each do |comment|
        .panel.panel-default
          .panel-heading
            = link_to comment.user.name, comment.user
            %time.pull-right
              %small.text-muted
                = comment.created_at.to_s
          .panel-body= markdown_to_html comment.content
      = render 'form_comment', comment: @comment, item: @item

    .col-sm-3
      %section
        .item-sidebar-user
          = gravatar_for(@item.user)
          %strong
            = link_to @item.user.name, @item.user
      %section
        %strong
          最近の投稿
        %ul
        = content_tag_for :li, @item.user.items.recent.limit(10) do |item|
          = link_to item.title, item
