%p#notice= notice
.row
  .col-sm-9
    %h1= @item.title
  .col-sm-3
    %ul.list-group
      %li.list-group-item
        %span.badge= @item.stocks.length
        ストック
      %li.list-group-item
        %span.badge= @item.comments.length
        コメント
    = item_stock_link_to(@item, @stock)

  = qiita_markdown @item.content

  %hr

  - @item.comments.each do |comment|
    .panel.panel-default
      .panel-heading= comment.user.name
      .panel-body= qiita_markdown(comment.content)


  = render partial: 'form_comment', locals: {comment: @comment, item: @item}

