.row
  .col-sm-9
    %ul
      - @item.tags.each do |tag|
        %li= tag.name
    %h1= @item.title
  .col-sm-3
    %ul.list-group
      %li.list-group-item
        %span.badge#stock-num= @item.stocks.length
        ストック
      %li.list-group-item
        %span.badge= @item.comments.length
        コメント
    - if current_user == @item.user
      = link_to '編集する', edit_item_path(@item), class: 'btn btn-info btn-block'
    - else
      %span#stock-btn= item_stock_link_to(@item)


%hr

= markdown_to_html @item.content

%hr

- @item.comments.each do |comment|
  .panel.panel-default
    .panel-heading= comment.user.name
    .panel-body= markdown_to_html comment.content

= render partial: 'form_comment', locals: {comment: @comment, item: @item}
